*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg,rgba(68, 54, 65, 0.466), rgba(169, 221, 235, 0.295)),url("../images/car.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
}
nav h3{
    font-size: 2.2rem;
    color: #fff;
    text-shadow: 3px 3px 10px rgb(255, 0, 119);
}
nav h3 span{
    color: #fff;
    background: crimson;
    padding: 4px;
}
nav .nav_links{
    flex: 1;
    text-align: right;
}
nav .nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
nav .nav_links ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
nav .nav_links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: crimson;
    margin: auto;
    display: block;
}
nav .nav_links ul li:hover::after{
    transition: all .5s ease-in-out;
    width: 100%;
}
.header .text_book{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.header .text_book{
    padding: 10px;
}
.header .text_book h1{
    font-size: 2.9rem;
    padding: 0px 0 20px 0;
}
.header .text_book h1 span{
    color: #fff;
    background: crimson;
    padding: 4px;
    text-shadow: 3px 3px 5px rgb(236, 169, 199);
}
.header .text_book p{
    font-size: .8rem;
    line-height: 1.4;
}
.header .text_book button{
    margin: 15px 0 0 0;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    border: 4px solid crimson;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.header .text_book button:hover{
    transition: all .2s ease-in-out;
    background: crimson;
    box-shadow: 5px 5px 25px rgb(255, 0, 119);
}
nav .fa{
    display: none;
}
.heading h1 {
    font-size: 2rem;
    line-height: 2;
}
.heading p {
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 20px;
}
.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.row_coloum{
    flex-basis: 31%;
    background: #eeb4b48c;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 2%;
}
.row_coloum h1{
    font-size: 1.4rem;
    line-height: 1.8;
}
.row_coloum p{
    margin-top: 10px;
    padding: 5px;
    line-height: 1.4;
}
.row_coloum:hover{
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.4);
    cursor: pointer;
}

.campus{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.coloum_img{
    flex-basis: 28%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.coloum_img img{
    width: 360px;
    height: 420px;
    border-radius: 10px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
}
.layer:hover{
    background: #eca9c76e;
}
.layer h3{
    width: 100%;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.facilities{
    width: 80%;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.facitilies_col{
    flex-basis: 28%;
    margin-bottom: 20px;
    position: relative;
    height: 620px;
}
.facitilies_col img{
   width: 100%;
   height: 70%;
}
.facitilies_col h3{
    margin-top: 10px;
    text-align: left;
    padding: 5px;
}
.facitilies_col p{
    line-height: 1.3;
    text-align: left;
}

.testimonial{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 0px;
}
.testimonial_col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #eca9c76e;
    padding: 25px;
    display: flex;
    /* animation: slider 40s infinite linear; */
}
.testimonial_col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 25px;
    border-radius: 100px;
}
.testimonial_col p{
    font-size: .9rem;
    padding-top: 10px;
    color: rgb(124, 114, 111);
}
.testimonial_col h3{
    padding-top: 10px;
    padding-bottom: 5px;
}
.testimonial_col i{
    color: crimson;
}

.cat{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 360px;
    background-image: linear-gradient(120deg,rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.623)),url(https://3back.com/app/uploads/2017/07/Team-scaled.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.enroll h1{
    font-size: 2.8rem;
}
.enroll button{
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
button:focus{
    outline: none;
}
.enroll button:hover{
    transition: all .3s ease-in-out;
    color: #fff;
    background: crimson;
}

.abous_us {
    width: 80%;
    padding-top: 30px;
    margin: auto;
    text-align: center;
}
.abous_us h1 {
    font-size: 2rem;
    margin: 20px 0 20px 0;
}
.abous_us p {
    color: rgb(90, 83, 83);
    margin-bottom: 30px;
}

.footer{
    text-align: center;
    height: 50px;
    background: #eca9c76e;
}
.footer i{
    background: crimson;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 8px;
    width: 40px;
    font-size: 1.3rem;
}
.footer i:first-child:hover{
    transition: all .3s ease-in-out;
    color: rgb(0, 140, 255);
}
.footer i:nth-child(2):hover {
    transition: all .3s ease-in-out;
    color: rgb(0, 140, 255);
}
.footer i:nth-child(3):hover {
    transition: all .3s ease-in-out;
    color: rgb(0, 140, 255);
}
.footer i:last-child:hover {
    transition: all .3s ease-in-out;
    color: rgb(255, 0, 212);
}